*{
    padding: 0;
    margin: 0;
    font-family: math, sans-serif;
}

body {
    height: 100vh;
    background-color: rgb(129, 151, 174);
}

#input-div {
    width: 70%;
    margin: 0 auto;
}
#input-div li{
    padding: 0.5rem;
    display: grid;
}

#crew-content, #sectors-content {
    display: inline-block;
}

#block-content {
    font-size: large;
}

input, select {
    display: inline-flex;
    align-self: flex-end;
    padding: 0.3rem;
}

label {
    font-size: large;
}

#new-results-p, #results-p {
    margin: 1rem;
    padding-bottom: 1rem;
}

#rTitle {
    margin-left: 1rem;
}

.center-align {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

#calc {
    margin-bottom: 1rem;
    background-color: lightseagreen;
    border: 2px solid deepskyblue;
    border-radius: 3px;
    font-size: larger;
    padding: 0.5rem;
    width: 45%;
    height: 3rem;
}

.small {
    font-size: smaller;
}

.larger {
    font-size: larger;
}

.dim {
    opacity: 0.4;
}

.hide{
    display: none;    
}

.show{
    display: inline-block
}